<!doctype html>
<html lang="en">
<head>
    <title>TeamSpeak List - {{ $.server.Name }}</title>
    <link rel="stylesheet" href="/static/bootstrap-dark.min.css" />
    <link href="/static/favicon.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        div.channel {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        footer {
            margin-top: 40px;
        }
    </style>
</head>

<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #0d619e !important">
    <div class="container">
        <a class="navbar-brand" href="/">{{ $.server.Name }}</a>

        <div class="float-right">
            TeamSpeak List
        </div>
    </div>
</nav>

<div class="container">
    {{ $users := .users }}

    {{ range $i, $channel := .channels }}
        <div class="channel table-responsive">
            <h3 class="pb-2">&num;{{ $channel.ID }} - {{ $channel.ChannelName }}</h3>

            {{ $numUsers := 0 }}

            {{ range $j, $user := $users }}
                {{ if eq $user.ChannelID $channel.ID }}
                    {{ $numUsers = add $numUsers 1 }}
                {{ end }}
            {{ end }}

            {{ if gt $numUsers 0 }}
                <table style="width: 100%;" class="table table-striped table-bordered">
                    <tr>
                        <th>Nickname</th>
                        <th>OS</th>
                        <th class="text-center">Microphone Muted?</th>
                        <th class="text-center">Speakers Muted?</th>
                    </tr>

                    {{ $userIndex := 0 }}

                    {{ range $j, $user := $users }}
                        <tr>
                            {{ if eq $user.ChannelID $channel.ID }}
                                <td>{{ $user.Nickname }}</td>
                                <td>{{ $user.Platform }}</td>
                                <td class="text-center">{{ yes $user.InputMuted }}</td>
                                <td class="text-center">{{ yes $user.OutputMuted }}</td>

                                {{ $userIndex = add $userIndex 1 }}
                            {{ end }}
                        </tr>
                    {{ end }}
                </table>
            {{ end }}
        </div>
    {{ end }}
</div>

<footer class="text-muted">
    <div class="container">
        <b>Updated {{ .updated }}. Server online for {{ secondsToDuration $.server.Uptime }}.</b><br><br>

        <em>A slightly less useless, but maybe harder to read? project by seejy</em>
    </div>
</footer>
</body>

</html>
